@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 50px 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 20px;
}

.field label {
    font-size: calc(0.1vw + 1rem);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.field input:not(.submitSchedule) {
    width: 100%;
    height: 40px;
    margin: 20px 0px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid rgb(59, 63, 68, 0.2);
    font-size: calc(0.1vw + 1rem);
}

.field input:focus {
    outline: none;
    border-bottom: 2px solid #fbd25a;
}

.submit {
    width: fit-content;
    padding: 0px 10px;
    height: 50px;
    margin: 20px 0px;
    background-color: #fbd25a;
    border: none;
    border-radius: 8px;
    font-size: calc(0.1vw + 1rem);
    font-weight: 700;
    color: #2e2e2e;
    align-self: center;
    cursor: pointer;
}

.field select {
    width: 200px;
    height: 40px;
    margin: 20px 0;
    padding: 0px 10px;
    font-size: calc(0.1vw + 1rem);
    outline: none;
    border-radius: 8px;
    background-color: white;
}

.list {
    display: flex;
    flex-direction: column;
}

@media (max-width: 575px) {
    .container {
        padding: 10px 20px;
    }
}

@media (min-width: 576px) {
    .container {
        padding: 30px 70px;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 50px 100px;
    }
}

@media (min-width: 1200px) {
}
