@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 8000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 90vw;
    height: 150px;
    background-color: #4e627c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 9000;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.iconCtn {
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 20px;
    cursor: pointer;
}

.icon {
    color: #6c7177;
}

@media (min-width: 576px) {
    .modal {
        width: 80vw;
    }
}

@media (min-width: 768px) {
    .modal {
        width: 60vw;
    }
}

@media (min-width: 992px) {
    .modal {
        width: 40vw;
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .modal {
        font-size: 1.4rem;
    }

    .iconCtn {
        width: 60px;
        height: 60px;
    }
}
