body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.background {
    background-color: #f2f3f5;
    width: 100%;
    min-height: 100vh;
    z-index: -1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyCtn {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: white;
    padding-top: 100px;
    margin: 0px;
    overflow-x: hidden;
}

@media (min-width: 576px) {
    .bodyCtn {
        width: 100vw;
        padding-top: 110px;
    }
}

@media (min-width: 768px) {
    .bodyCtn {
        padding-top: 110px;
    }
}

@media (min-width: 992px) {
    .bodyCtn {
        width: 100vw;
        padding-top: 140px;
    }
}

@media (min-width: 1200px) {
    .bodyCtn {
        width: 80vw;
        padding-top: 140px;
    }
}
