.layoutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 100%; */
    height: calc(100vh - 140px);
    margin-top: 140px;
    position: absolute;
    overflow-x: hidden;
}

.container {
    perspective: 1000px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #242333;
}

.legend {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100px;
}

.legend div {
    display: flex;
    align-items: center;
}

.legend span {
    margin-left: 5px;
}

.screenContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
    margin-bottom: 20px;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.validation {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    background-color: #fbd25a;
    border: none;
    border-radius: 8px;
    font-size: calc(0.1vw + 1rem);
    font-weight: 700;
    color: #2e2e2e;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getLogged {
    height: fit-content;
    background-color: white;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: solid 2px rgba(28, 33, 42, 0.5);
    padding: 20px;
    text-align: center;
}

.getLogged div {
    width: 250px;
    color: #2e2e2e;
    font-weight: 500;
    font-size: calc(0.4vw + 1rem);
    padding: 10px 35px;
    border-radius: 11px;
    background-color: #fbd25a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
}

@media (max-width: 575px) {
    .layoutContainer {
        margin-top: 100px;
        height: calc(100vh - 100px);
    }

    .getLogged div {
        width: 220px;
    }
}

@media (min-width: 576px) {
    .layoutContainer {
        margin-top: 110px;
        height: calc(100vh - 110px);
    }
}

@media (min-width: 992px) {
    .layoutContainer {
        margin-top: 140px;
        height: calc(100vh - 140px);
    }
}

@media (min-width: 1200px) {
    .layoutContainer {
        margin-top: 140px;
        height: calc(100vh - 140px);
    }
}
