.seat {
    background-color: #444451;
    height: 16px;
    width: 20px;
    margin: 5px 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.booked {
    background-color: #fff;
}

.seat:not(.booked):hover {
    cursor: pointer;
    transform: scale(1);
}

.seat.free:hover {
    cursor: default;
    transform: none;
}

.seat.selectedLegend {
    background-color: #6feaf6;
}

.seat.selectedLegend:hover {
    cursor: default;
    transform: none;
}

.seat.bookedLegend {
    background-color: #fff;
}

.seat.bookedLegend:hover {
    cursor: default;
    transform: none;
}

@media (min-width: 1200px) {
    .seat:not(.booked):hover {
        transform: scale(1.2);
    }
}
