@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

.container {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FilmsList {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.presentation {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: flex-start;
    color: #181b21;
    border-bottom: solid 4px #fbd25a;
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
