@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

.container {
    padding: 10px;
    width: 80%;
}

.FilmsList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.presentation {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 10px;
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }

    .FilmsList {
        justify-content: space-evenly;
    }
}
