* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.Container {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
}

.Instant {
    width: 100%;
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center top;
}

.grad {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #1c212a 50%, transparent);
    z-index: 50;
    position: relative;
    padding: 25px 50px;
    color: #babbbd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Title {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    margin: 0px;
    margin-top: 40px;
    padding: 0px;
}

.GenreDuration {
    font-size: 1.2rem;
    margin: 20px 0px;
}

.PublicBtn {
    color: white;
    font-size: calc(0.1vw + 1rem);
    margin-left: 20px;
    padding: 4px 13px;
    border-radius: 7px;
    background: rgba(96, 100, 105, 0.5);
}

.SeancesBtn {
    width: fit-content;
    color: #2e2e2e;
    font-weight: 500;
    font-size: calc(0.4vw + 1rem);
    padding: 10px 35px;
    border-radius: 11px;
    background-color: #fbd25a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SeancesBtn:visited {
    color: #2e2e2e;
}

.SeancesBtn i {
    margin-right: 5px;
}

.Toolbar {
    width: 100%;
    border-bottom: solid 1px rgb(59, 63, 68, 0.5);
    display: flex;
    font-size: calc(0.1vw + 1rem);
    font-weight: 600;
    padding: 20px 0px;
}

.Toolbar span {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.Toolbar span i {
    margin-right: 5px;
}

.Toolbar span:not(:last-of-type) {
    border-right: solid 2px rgb(59, 63, 68, 0.8);
}

.PlusSign {
    font-size: 1.2rem;
    font-weight: 200;
    color: #1c212a;
    background: #babbbd;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.Presentation {
    display: flex;
    align-items: center;
}

.imgContainer {
    /* width: fit-content;
    height: fit-content; */
    margin: 20px 0px;
    margin-right: 10px;
}

.imgContainer img {
    width: 80px;
    border-radius: 7px;
}

.Infos p {
    box-sizing: border-box;
    margin: 5px 0px;
    font-size: 0.9rem;
}

.Infos p span {
    color: white;
    font-weight: 800;
}

.Stars {
    margin-bottom: 20px;
    /* background: yellow; */
    width: fit-content;
}

.Synopsis {
    width: 50%;
    line-height: 150%;
    height: fit-content;
}

.showtimesCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */
}

.showtimes {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    border-bottom: solid 3px rgb(218, 218, 218, 0.5);
    color: #1c212a;
    margin-top: 50px;
}

.showtimesNavCtn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.showtimesEltCtn {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.showtimesEltCtn a {
    margin: 0px 5px;
    margin-bottom: 20px;
}

.postsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0px 100px 0px;
}

.getLogged {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: solid 2px rgba(28, 33, 42, 0.5);
    padding: 20px;
    text-align: center;
}

.getLogged div {
    width: fit-content;
    color: #2e2e2e;
    font-weight: 500;
    font-size: calc(0.4vw + 1rem);
    padding: 10px 35px;
    border-radius: 11px;
    background-color: #fbd25a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.postTitle {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: solid 2px rgba(28, 33, 42, 0.5);
    border-bottom: none;
    font-size: calc(0.1vw + 1rem);
    outline: none;
}

.postTitle:focus {
    border: solid 2px rgba(28, 33, 42, 0.7);
    border-bottom: none;
}

.textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 8px;
    border: solid 2px rgba(28, 33, 42, 0.5);
    font-size: calc(0.1vw + 1rem);
    outline: none;
    resize: none;
}

.textarea:focus {
    border: solid 2px rgba(28, 33, 42, 0.7);
}

.submit {
    width: 50%;
    height: 50px;
    margin: 20px 0px;
    background-color: #fbd25a;
    border: none;
    border-radius: 8px;
    font-size: calc(0.1vw + 1rem);
    font-weight: 700;
    color: #2e2e2e;
    align-self: center;
    cursor: pointer;
}

@media (max-width: 575px) {
    .Container {
        height: fit-content;
    }

    .grad {
        padding: 15px;
        background: linear-gradient(to top, #1c212a 75%, transparent);
    }

    .Synopsis {
        width: 100%;
    }

    .Instant {
        height: 60%;
        width: 140%;
        object-fit: contain;
        transform: translateX(-10%);
    }

    .Title {
        font-size: 1.5rem;
        margin: 0px;
    }

    .GenreDuration {
        font-size: 1rem;
        margin: 10px 0px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .PublicBtn {
        margin-left: 0px;
        width: fit-content;
        margin-top: 10px;
    }

    .showtimes {
        font-size: 2em;
    }

    .formContainer {
        padding: 0px 20px;
    }
}

@media (min-width: 576px) {
    .grad {
        padding: 25px;
        background: linear-gradient(to top, #1c212a 60%, transparent);
    }

    .Synopsis {
        width: 100%;
    }

    .Instant {
        height: 80%;
        width: 140%;
        object-fit: contain;
        transform: translateX(-10%);
    }

    .Title {
        font-size: 2rem;
        margin: 0px;
    }

    .GenreDuration {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
    }

    .PublicBtn {
        margin-left: 0px;
        width: fit-content;
        margin-top: 10px;
    }

    .showtimes {
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    .grad {
        padding: 25px 40px;
        background: linear-gradient(to top, #1c212a 50%, transparent);
    }

    .Synopsis {
        width: 80%;
    }

    .Instant {
        width: 100%;
        object-fit: cover;
        transform: translateX(0%);
    }

    .Title {
        font-size: 2.5rem;
        margin: 0px;
    }

    .imgContainer img {
        width: 100px;
        border-radius: 7px;
    }
}

@media (min-width: 992px) {
    .Container {
        min-height: fit-content;
    }

    .Title {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .GenreDuration {
        margin: 20px 0px;
        display: inline-block;
        font-size: 1.4rem;
    }

    .PublicBtn {
        margin-left: 20px;
        width: fit-content;
    }

    .SeancesBtn {
        margin-top: 30px;
    }

    .imgContainer img {
        width: 120px;
        border-radius: 7px;
        margin: 20px;
        margin-top: 0px;
        margin-right: 40px;
    }

    .Infos p {
        font-size: 1.1rem;
    }

    .Synopsis {
        font-size: 1.1rem;
    }

    .formContainer {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .Container {
        height: calc(100vh - 140px);
    }

    .Title {
        font-size: 3.5rem;
    }

    .GenreDuration {
        margin: 20px 0px;
        display: inline-block;
        font-size: 1.6rem;
    }

    .PublicBtn {
        font-size: 1.5rem;
    }

    .SeancesBtn {
        font-size: 1.5rem;
    }

    .imgContainer img {
        width: 150px;
    }

    .Infos p {
        font-size: 1.3rem;
    }

    .Synopsis {
        font-size: 1.3rem;
    }

    .showtimes {
        font-size: 3em;
    }

    .showtimesNavCtn {
        font-size: 1.2rem;
    }

    .formContainer {
        font-size: 2rem;
    }
}
