.Dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #929292;
    margin-left: 0px;
    margin-right: 5px;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.selected {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e6d11c;
    margin-left: 0px;
    margin-right: 5px;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}