@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

.Toolbar {
    width: 100vw;
    height: 140px;
    position: fixed;
    top: 0;
    z-index: 300;
    background-color: white;
    box-shadow: 0px 1px 10px #dadada;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Presentation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Name {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.RegAuthInterface {
    display: flex;
}

.toForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-right: 30px;
}

.User {
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}

.faUser {
    color: #6c7177;
    background-color: #333b47;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logoutBtn {
    cursor: pointer;
}

.Menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.Menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    width: 100px;
    border-bottom: solid 5px white;
}

.Icons {
    color: #343f4b;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.active div {
    border-bottom: solid 5px #fbd25a;
}

@media (max-width: 575px) {
    .Toolbar {
        height: 100px;
    }
    .Presentation {
        padding: 10px 20px;
        margin-bottom: 5px;
    }
    .toForms {
        display: none;
    }
    .Menu div {
        font-size: 0.7rem;
        font-weight: 400;
        width: 50px;
    }
}

@media (min-width: 576px) {
    .Toolbar {
        height: 110px;
    }
    .Presentation {
        padding: 10px 20px;
    }
    .toForms {
        display: none;
    }
    .Menu div {
        font-size: 0.7rem;
        font-weight: 400;
    }
}

@media (min-width: 992px) {
    .Toolbar {
        height: 140px;
    }
    .Presentation {
        padding: 10px 20px;
    }
    .Menu div {
        font-size: 1rem;
        font-weight: 400;
    }
}

@media (min-width: 1200px) {
    .toForms {
        display: flex;
    }
}
