@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
    margin-top: 40px;
}

.header {
    width: 100%;
    height: 30px;
    padding: 5px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    padding: 10px 20px;
    font-size: 1.5rem;
}

.text {
    width: 100%;
    height: fit-content;
    min-height: 100px;
    padding: 10px 20px;
    display: flex;
}

.delete {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: fit-content;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

@media (min-width: 576px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 60%;
    }
}
