.Slide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #1d2229;
}

.Slide img {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 100%;
    /* max-width: 720px; */
    transform: translateX(-50%);
}

.image {
    width: fit-content;
    height: 100%;
    object-fit: cover;
    /* object-position: center top; */
}

.grad {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #1d2229 40%, transparent);
    z-index: 60;
    color: white;
    position: relative;
}

.presentation {
    width: calc(100% - 160px);
    /* height: 50%; */
    position: absolute;
    left: 80px;
    bottom: 20px;
    font-weight: bold;
    font-size: calc(1.2rem + 1.5vw);
}

.presentation h2 {
    margin-bottom: -20px;
}

@media (max-width: 500px) {
    .image {
        height: 60%;
    }
}
