.Container {
    width: 100%;
    height: calc(60vh - 140px);
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.dotsContainer {
    width: 100%;
    position: absolute;
    z-index: 150;
    display: flex;
    justify-content: center;
    bottom: 40px;
}

.dots {
    display: flex;
    align-items: center;
}

@media (max-width: 575px) {
    .Container {
        height: calc(60vh - 140px);
    }
}

@media (min-width: 576px) {
    .Container {
        height: calc(60vh - 140px);
    }
}

@media (min-width: 768px) {
    .Container {
        height: calc(70vh - 140px);
    }
}

@media (min-width: 992px) {
    .Container {
        height: calc(75vh - 140px);
    }
}

@media (min-width: 1200px) {
    .Container {
        height: calc(80vh - 140px);
    }
}
