.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-bottom: solid 3px #ffffff;
}

.container:hover {
    border-bottom: solid 3px #cccccc;
}

.container:focus {
    border-bottom: solid 2px #fbd25a;
}
